@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

* {
  text-align: center;
  margin: 0;
}

body {
  background-color: rgba(0,0,0,0) !important;
  background-image: url("images/bokeh-background.jpg");
  top: 0;
  left: 0;
}

.even-space {
  justify-content: space-evenly;
}

@media (min-width: 600px){
  .name-and-photo-container{
    display: flex;
    flex-direction: row-reverse;
  }
  .name-and-photo-container-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.jumbotron {
  margin: 1em;
  background-color: rgba(300,300,300,0.5) !important;
}

.card {
  width: 250px;
  margin: 1em;
  background-color: rgba(300,300,300,0.5) !important;
}

.card img {
  padding: 1em;
}

.nav-link {
  background: rgba(300,300,300,0.5) !important;
}

.linktoemail {
  text-decoration: underline;
  display: block;
}

img.picture-of-jt {
  border-radius: 100%;
  max-height: 300px;
  max-width: 300px;
}

a {
  cursor:pointer;
}

@media (max-width: 723px){
  .inlineLinkButton a, .changepage a, #projectholder a  {
    margin: 0em 1em 1em 1em;
  }
}

@media (min-width: 724px){
  .inlineLinkButton a, .changepage a, #projectholder a  {
    margin: 1em;
  }
}

.inlineLinkButton a, .changepage a, #projectholder a  {
  background: turquoise;
  border: 1px solid navy;
  border-radius: 3px;
  color: navy;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  transition: all 0.2s;
}

.inlineLinkButton a:hover, .changepage a:hover, #projectholder a:hover, .nav-link a:hover  {
  background: navy !important;
  color: aqua;
  border: 1px solid aqua;
  transform: scale(1.1);
}

.inlineLinkButton a:active, .changepage a:active, #projectholder a:active  {
  transform: scale(1.2);
}

.socialmediabutton {
  max-height: 80px;
  margin: 2em;
}

.socialmediabutton:hover {  
  transform: scale(1.4);
  transition: all 0.2s;
}