@keyframes cometanimation {
    from {left:120%; top:120%;}
    to {left:-50%; top:-50%;}
    }
body {
  padding: 0;
  margin: 0;
  background-image: url('http://bit.ly/UpQgJ6');
  background-size: cover;
  text-align: center;
}
title, h1, h2, h3, h4, div {
  color: #FFF;
}
#comet {
      height: 3em;
      width: 3em;
      border-radius: 100%;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005D88), to(#161F88));
      position:fixed;
      left:120%;
      top:120%;
}
.animationactivated{
      animation-name: cometanimation;
      animation-duration: 10s;
}
#part1, #part2, #part3, #part4 {
  position: absolute;
  padding: 20%;
}
