<!DOCTYPE html>
<html ng-app="myApp">
   <link href="/angularjspage/style.css" type="text/css" rel="stylesheet">
   <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <title>AngularJS Page</title>
   </head>
    <body ng-controller="MainController">
      <h1>{{ title }}</h1>
      <label>Whats you name?</label>
      <input type="text" ng-model="yourName" placeholder="This is where you enter your name...">
      <hr>
      <h1>Your name is: {{yourName}}!</h1>
      <label>Change the Color:</label>
      <input type="text" ng-model="colorPicker" placeholder="What Color do you want this to be?">
      <input type="button" value="set color" ng-click="myStyle={color:'red'}">
      <input type="button" value="set background" ng-click="myStyle={'background-color':'blue'}">
      <input type="button" value="clear" ng-click="myStyle={}">
      <input type="Text" value="set color" ng-click="myStyle={color:'red'}">
      <span ng-style="myStyle">Omg I change color!</span>
     <script src='/angularjspage/app.js'></script>
    </body>
</html>
