<!DOCTYPE html>
<html ng-app="myApp">
  <link href="/angularjspage/style.css" type="text/css" rel="stylesheet">
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
      <title>AngularJS Page</title>
    </head>
    <body ng-controller="MainController" ng-style="{color: myColor}">
      <h1>{{ title }}</h1>
      <p>Just some fun little things I am testing in AngularJS!</p>
      <label>Whats you name?</label>
      <input type="text" ng-model="yourName" placeholder="This is where you enter your name..."><br>
      <p>Your name is: {{yourName}}!</p>
      <hr>
      <h1>Change the color</h2>
      <label>Lets try changing the color with normal JS(type color then hit submit):</label><br>
        <input id="color" type="text" />
        <input id="submitColor" value="Submit" type="button" /><br>
        <span id="coltext">This is cool but you have to click a button to make it happen...</span><br>
      <label>Now try changing the color with ANGULAR:</label>
      <div ng-style="{color: myColor}">
        <input type="text" ng-model="myColor" placeholder="enter a color name">
        <div>Omg my color changes without having to press a button! FUN!</div>
      </div>
     <script src='/angularjspage/app.js'></script>
    </body>
</html>
